body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

form button{
    margin-top: 15px;
}